@model dynamic
@{
    ViewBag.Title = "Mockups";
}

<h2>Mockups</h2>

<ul>
    <li><a asp-action="History">History</a></li>
    <li><a asp-action="Order">Order</a></li>
    <li><a asp-action="GuidProfile">Guid Profile</a></li>
</ul>